.env
.env.*
**/.env
**/.env.*

*.zip
**/*.ods
OLD/
docs/
**/node_modules/
**/package-lock.json
**/package.json

**/dist
**/node_modules
**/build
**/.yarn/
**/yarn.lock
**/logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*

**/.DS_Store

**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

