body,
html {
  margin: 0;
  padding: 0;
  background: #0b111d;
  border: none;
}
/* Корневой контейнер React */
#root {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  color: #2d617e;
  background: #0b111d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Основной контейнер приложения */
.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #0b111d;
}

/* Логотип */
.head_logo {
  display: block;
  margin-top: 10px;
  max-width: 350px;
  width: 350px;
  height: 45px;
  margin-left: 10px;
}

/* Основной контейнер контента */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

/* Приветственный текст */
.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Текст с градиентом */
.gradient-text {
  width: 100%;
  height: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 140%;
  text-align: center;
  background: linear-gradient(90deg, #fba220 0%, #ffd28f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Простой текст */
.simple-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 105%;
  letter-spacing: 0;
  text-align: center;
  margin: 5px 0;
}
